aside{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 15vw;
    height: 180vh;
    margin: 0px;
    padding: 0px;
    background-color: red;
}
a{
    text-decoration: none;
    color: black;
}
@font-face {
    font-family: "Minecraft";
    src: url(fontes/Minecraftia-Regular.ttf);
}
#iframe{
    position: absolute;
    top: 10vh;
    left: 15vw;
    width: 85vw;
    height: 170vh;
     
}
::-webkit-scrollbar{
    display: none;
}
body{
    font-family: "Minecraft";
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0px;
    height: 10vh;
    width: 100vw;
    background-color: gray;
    text-align: center;
}
aside img{
    transform: translate(-50%);
    position: relative;
    padding: 20px;
    left: 50%;
    image-rendering: pixelated;
    width: 60px;
    height: 60px;
    background-size: 1410%;
    background-position: -35px -84px;
}
aside p{
    position: relative;
    text-align: center;
    line-height: 40px;
    font-size: 3vw;
}
header p{
    position: relative;
    line-height: 40px;
    font-size: 1;
}
img:hover{
    transition: 0.3s ease-in-out;
    scale: 1.1;
}