article img{
    position: relative;
    top: -27px;
    margin-right: -2px;
    z-index: 2;
}
article span{
    margin: 0px 29px 0px 0px;
}
*{
    image-rendering: pixelated;
}
#inventary{
    transform: translate(-25%, -25%);
    background-image: url(imagens/gui/container/creative_inventory/tab_items.png);
    height: 136px;
    width: 195px;
    scale: 3;
    position: absolute;
    left: 50vw;
    top: 50vh;
    background-repeat: no-repeat;
}
#tabs img{
    z-index: 2;
    position: relative;
    top: -52px;
    left: 5px;
    margin-right: 8px;
    pointer-events: none;
}
#tabs span{
    margin: 15px;
}