@charset "UTF-8";
*{
    image-rendering: pixelated;
    margin: 0px;
    padding: 0px;
    font-family: "minecraft";
}

@font-face {
  font-family: "minecraft";
  src: url(../fontes/Minecraftia-Regular.ttf);
}
/*Celular: // - 768px
  Tablets: Width 768px - 992px
  Desktop/Notebooks 992px - 1200px
  TV: 1200px*/
#menu{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50vh;
  position: absolute;
  left: 50vw;
}

/*--------------------------------------*/


  /*Celular*/
  @media screen and (max-width:768px) { 
    body{
        background-color: red;
    }
    #inventario{
        top: 55%;
        transform: translate(-50%, -50%) scale(2);
    }
  }

  /*Tablets*/
  @media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-color: blue;
    }
    #inventario{
        top: 55%;
        transform: translate(-50%, -50%) scale(3);
    }
  }

  /*Desktops*/
  @media screen and (min-width:992px) and  (max-width:1200px) {
    body{
        background-color: green;
    }
    #inventario{
        top: 55%;
        transform: translate(-50%, -50%) scale(3);
    }
  }

  /*TVs*/

  @media screen and (min-width:1200px) {
    body{
        background-color: yellow;
    }
    #inventario{
        top: 55%;
        transform: translate(-50%, -50%) scale(3);
    }
  }