@charset "UTF-8";
*{
    image-rendering: pixelated;
    margin: 0px;
    padding: 0px;
    font-family: "minecraft";
}

@font-face {
  font-family: "minecraft";
  src: url(../fontes/Minecraftia-Regular.ttf);
}
/*Celular: // - 768px
  Tablets: Width 768px - 992px
  Desktop/Notebooks 992px - 1200px
  TV: 1200px*/

  body{
    background-image: url(../background.gif);
  }
  p{
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: white;
    background-image: url(../imagens/Tabs/1.png);
    background-size: 100% 100%;
    text-align: center;
    margin: 0.5vw;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
  }
  p:hover{
    background-image: url(../imagens/Tabs/2.png);
  }
  p:active{
    background-image: url(../imagens/Tabs/3.png);
  }
  
  #tittle{
    transform: translate(-50%, 10px);
    position: absolute;
    left: 50vw;
    width: 80vh;
    user-select: none;
  }

  #background{
    z-index: -999;
    overflow: hidden;
  }
/*--------------------------------------*/


  /*Celular*/
  @media screen and (max-width:768px) { 
    
    p{
      height: 40px;
      line-height: 40px;
      width: 350px;
    }
  }

  /*Tablets*/
  @media screen and (min-width:768px) and (max-width:992px) {
    p{
      width: 400px;
      height: 60px;
      line-height: 60px;
    }
  }

  /*Desktops*/
  @media screen and (min-width:992px) and  (max-width:1200px) {
    p{
      width: 500px;
      height: 50px;
      line-height: 50px;
    }
  }

  /*TVs*/

  @media screen and (min-width:1200px) {
    p{
      font-size: 3vh;
      width: calc(50vw - 40px);
      height: 8vh;
      line-height: 8vh;
    }
    
  }