*{
    margin: 0px;
    padding: 0px;
    image-rendering: pixelated;
}
img{
    position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-bottom: -2px;
    transform: translate(1px, 1px);
    margin-right: -2px;
    cursor: pointer;
}
img:hover{
    background-color: rgba(255, 255, 255, 0.5);
}